.content {
    text-align: center;
    width: 100%;
    img {
        padding-left: 20px;
        max-width: 380px
    }
    h2 {
        font-weight: 900;
        margin-bottom: 10px;
    }
    p {
        font-size: 19px;
        margin-bottom: 10px;
        max-width: 400px;
        margin: 0 auto;
    }
    h4 {
        margin-top: 10px;
        font-size: 24px;
        margin-bottom: 10px;
    }
}